@font-face {
  font-family: 'Mulish';
  src: url('../assets/fontslibraries/Mulish-Regular.ttf')
    format('opentype');
}
@font-face {
  font-family: 'Mulish';
  src: url('../assets/fontslibraries/Mulish-Bold.ttf')
    format('opentype');
}
