<div class="main-container">
  <div class="container">
    <div class="cont-card">
      <div fxLayout="row" class="cont-row">
        <div fxLayout="column" fxFlex="100">
          <p>Welcome back! 👋</p>
          <h3 class="font-size-10">Sign in to your account</h3>
          <label for="email">Your email</label>
          <input id="email" type="email" class="cont-input" />
          <label for="password">Password</label>
          <input id="password" type="password" class="cont-input" />
          <button class="cont-btn">
            CONTINUE
          </button>
          <a href="#" style="text-align: center;">Forgot your password?</a>
        </div>
      </div>
    </div>
    <p style="text-align: center;">Don't have an account? Sign up</p>
  </div>
</div>
